body {
	font-family: 'Kiwi Maru', serif;
	height: 100%;
	min-height: 80vh; /* Minimum height of the viewport */
	width: 100%;
}

main {
	background-color: #FFFDF4;
}

footer {
	background-color: #434343; 
	color: #FEFEFE; 
	font-family: 'Kiwi Maru', serif;
	margin-top: 50px; 
	padding: 20px; 
}

footer li {
	list-style: none; 
}

footer a {
	text-decoration: underline;
	color: #FEFEFE;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left, .footer-right {
  display: flex;
  font-size: 0.65em;
}

.cards-container {
	margin-left: 20px;
}

@media (max-width: 600px) {
  .cards-container {
	  margin-left: 10px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

@media (max-width: 768px) {
  .cards {
	margin-left: -5px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; 
  }
}

.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	border-radius: 20px; 
	margin: 20px; 
	padding: 20px; 
	width: 350px; 
	height: 250px;
}

.card-title {
	margin: 0 0 10px 0; 
	font-size: 1.75em;
}

.card-description {
	margin: 0 0 20px 0;
}

.card-footer {
	display: flex; 
	flex-wrap: wrap; 
}

p.heading{
	font-size: 3em; 
	margin: 0; 
	padding: 0; 
}

@media (max-width: 768px) {
  p.heading {
	font-size: 3em; 
	margin: 0; 
	padding: 0; 
	display: flex;
	flex-wrap: wrap;
  }
}

p.heading .subtext {
	margin-left: 10px;
	font-size: 0.35em; 
	color: #777; 
	font-style: italic; 
}

p.about-heading {
	z-index: 4;
	font-size: 3em; 
	margin-left: 30px;
	padding: 0; 
	padding-top: 20px;
	position: relative;
}

.about-heading-design {
	position: absolute;
	background-color: #FF9C9C;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	z-index: 1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#ahd1 {
	top: 100px;
	left: 30px;
	z-index: 0;
}

#ahd2 {
	top: 150px;
	left: 10px;
	z-index: 0;
	background-color: #A0C8F8;
}

#ahd3 {
	top: 150px;
	left: 65px;
	z-index: 0;
	background-color: #FFD29C;
}

p.about {
	font-size: 1.5em; 
	margin-left: 30px;
}

.navbar {
	background-color: #FFFDF4;
	margin-left: 50px;
	display: flex;
	justify-content: flex-start; 
	list-style: none;
	font-family: 'Kiwi Maru', serif;
	margin-top: 0px;
	padding-top: 20px;
}

@media (max-width: 768px) {
  .navbar {
	background-color: #FFFDF4;
	margin-left: -25px;
	display: flex;
	justify-content: flex-start; 
	list-style: none;
	font-family: 'Kiwi Maru', serif;
	margin-top: 0px;
  }
}

.navbar li {
  margin: 0 10px; 
  font-size: 1.5em;
}

.navbar a {
  text-decoration: none; 
  color: black; 
}

.navbar a.active {
  color: #9AC4F8; 
  text-decoration: underline; 
}

.zero-to-production {
  display: flex; 
  position: relative;
  justify-content: center; 
  align-items: center; 
  background-color: #FFFDF4; 
  color: #8AB801; 
  font-size: 3em; 
  font-family: 'Kiwi Maru', serif;
}

.light-mode {
	background-color: #FFFDF4;
	color: #000000;
}

.article-item-grid {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
	min-height: 30vh;
}

.article-item {
	flex: 1 1 350px;
	border-radius: 10px;
	padding: 5px 10px;
	color: #000000;
	text-decoration: none;
	font-size: 1.5em;
	max-width: 350px;
	max-height: 40px;
	position: relative;
	overflow: hidden;
}

.coming-soon-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-left: 80px solid transparent;
    border-bottom: 80px solid #f00; /* Red color for the ribbon */
    width: 0;
    height: 0;
    content: "";
    display: block;
    text-align: center;
    transform: translate(65%, -50%) rotate(45deg); /* Adjust to tweak the position */
}

.coming-soon-text {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 0.75em;
    font-weight: bold;
    transform: rotate(45deg);
    transform-origin: right top;
    z-index: 2;
}

.article-item.disabled {
    pointer-events: none; /* Makes the link unclickable */
    opacity: 0.5; /* Dim the link to indicate it's inactive */
}

.coming-soon-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; /* Adjust based on tooltip placement */
    opacity: 0;
    transition: opacity 0.3s;
}

.article-item:hover .coming-soon-tooltip {
    visibility: visible;
    opacity: 1;
}

.article-heading {
	display: inline-block;
	font-size: 3em; 
	margin: 0; 
	padding: 0;
}

.article-heading-background {
	display: inline-block;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.article-section-background {
	display: inline-block;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
	margin-top: 20px;
}

.article-section {
	font-size: 2em;
	margin: 0;
	padding: 10px;
}

.article-body {
	font-size: 1.25em;
	margin: 0;
	padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  animation: fadeIn 0.3s ease-out forwards;
}

.modal-content {
  background-color: #FFFDF4;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  max-width: 80%;
  animation: fadeIn 0.3s ease-out forwards;
}

.modal-close-button {
	background-color: #C3C9D2;
	font-size: 1.25em;
	border: none;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: 'Kiwi Maru', serif;
}

.modal-heading {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.modal-section {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

.modal-body {
	font-size: 1em;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-like-text {
  font-size: 1.25em; 
  background-color: transparent; 
  border: none; 
  color: inherit; 
  padding: 0; 
  cursor: pointer; 
  outline: none; 
  text-decoration: underline; 
  color: #A0C8F8; 
}

.button-like-text:hover, .button-like-text:focus {
  background-color: #E3F0FF; 
  border-radius: 5px; 
}

/* CodeBlock.css */
/* NotebookPaper.css */
.notebook-paper {
    position: relative;
    background-color: #FFF5DA; /* Main notebook paper background */
    border-radius: 8px; /* Rounded corners for the paper */
    padding: 20px; /* Space between the content and the border */
    margin: 20px auto; /* Center the notebook paper on the page */
    max-width: 800px; /* Maximum width of the notebook paper */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	overflow: hidden;
}

.notebook-paper pre {
    background-color: #FFFAEE; /* Lighter background for the code area */
    border-left: 5px solid #FF0A0A; /* Red vertical line simulating margin */
	margin-left: 15px;
    border-radius: 8px; /* Rounded corners for the paper */
    border: 1px solid #FF0A0A; /* Red border simulating the margin */
    padding: 15px; /* Padding around the text */
    position: relative;
    overflow-x: auto; /* Allows for horizontal scrolling on overflow */
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace; /* Monospaced font for code */
}

/* Styling for hole punches */
.l-margin {
	display: flex;
}
.hole {
 height: 30px;
 width: 30px;
 background-color: #FFFFFF;
 border-radius: 50%;
 position: absolute;
 margin-left: 2px;
 z-index: 1;
 box-shadow: inset 5px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.first-hole {
}
.second-hole {
 top: 50%;
}
.third-hole {
	bottom: 10%;
}

.notebook-paper code {
    display: block;
    color: black; /* Text color for the code */
}

/* Lines on the paper */
.notebook-paper pre::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	opacity: 0.2;
    background-image: linear-gradient(to bottom, transparent 93%, #3793D7 93%);
    background-size: 100% 21px; /* Spacing for the lines */
    pointer-events: none; /* Prevents the lines from interfering with text selection */
}

.copy-button {
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    background-color: #6BB0E2; /* Blue for the copy button */
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.copy-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

