body {
  font-family: 'Kiwi Maru', serif;
}

.navbar {
	background-color: #FFFDF4;
	padding: 10px 20px 20px 20px;
	display: flex;
	justify-content: flex-start; 
	list-style: none;
	font-family: 'Kiwi Maru', serif;
}

.navbar li {
  margin: 0 10px; 
  font-size: 1.5em;
}

.navbar a {
  text-decoration: none; 
  color: black; 
}

.navbar a.active {
  color: #9AC4F8; 
  text-decoration: underline; 
}

.zero-to-production {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #FFFDF4; 
  color: #8AB801; 
  font-size: 3em; 
  font-family: 'Kiwi Maru', serif;

}

.light-mode {
	background-color: #FFFDF4;
	color: #000000;
}
